/**
* @developer-Lead: David Hernandez
* @senior-developer: J. Sanchez @mozpit
* @team: Software Engineering Team 4 @ Lehman
* @members: Eddy Vittini, Jhon Sanchez, Vanessa Ortiz, Melida Grullon, Madelin Arias Bueno, Rafael Velazquez, Moumouni Sawadogo, Jordan Falcon, David Hernandez
* @description: Leo's Lasagna Project by Team 4 Fall 2018
* @software-license: MIT
*/

/******** HOME ********/
.jumbotron{
  background-color: #F2433A !important; //must add !important or else it won't let you change the color
}

.home-all{
  /* text */
  color: #fff!important;
}

/******** LOGIN ********/
.login-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 1.5%;
}

.login-btn{
  padding: 5px 30px !important;
}

.login-username, .login-password{
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
}

.bg-light {
    background-color: #fff!important;
}
